<Server xmlns="srv.core"
        xmlns:handler="srv.handler"
        xmlns:appData="app.data" xmlns:endpoint="srv.endpoint" xmlns:data="srv.data" xmlns:conf="js.conf">

    <EndPoints>
        <endpoint:HttpEndPoint port="8000"/>
    </EndPoints>

    <Handlers>
        <handler:NodeRenderingHandler application="app/TrackIt.xml"/>
        <handler:RestHandler path="/api">
            <data:MongoDataSource database="trackit">
                <conf:DataSourceConfiguration>
                    <conf:ResourceConfiguration modelClassName="app.model.Ticket" collection="ticket" />
                    <conf:ResourceConfiguration modelClassName="app.model.Project" collection="project"/>
                    <conf:ResourceConfiguration modelClassName="app.model.User" collection="user"/>
                    <conf:ResourceConfiguration modelClassName="app.model.Watcher" collection="watcher"/>
                    <conf:ResourceConfiguration modelClassName="app.model.Comment" collection="comment"/>
                </conf:DataSourceConfiguration>
            </data:MongoDataSource>
            <appData:ResourceConfiguration/>
        </handler:RestHandler>
        <handler:StaticFileHandler />
    </Handlers>

</Server>
