<Server xmlns="srv.core"
        xmlns:handler="srv.handler"
        xmlns:appData="app.data" xmlns:endpoint="srv.endpoint">

    <EndPoints>
        <endpoint:HttpEndPoint port="8000" />
    </EndPoints>

    <Handlers>
        <handler:RestHandler path="/api">
            <appData:ResourceConfiguration />
        </handler:RestHandler>
    </Handlers>

</Server>
